# Site
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_BUSINESS_EMAIL=info@scrap-up.fr

# Stripe (à remplir plus tard)
# STRIPE_SECRET_KEY=
# STRIPE_WEBHOOK_SECRET=
# NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Resend (à remplir plus tard)
# RESEND_API_KEY=
